@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background-image: url("/src/images/adonde-home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#AppName{
    font-family: 'Lobster', cursive;
}



