<h3 class="display-4" style="font-size:40px">Flights</h3>

<div id="carouselExampleIndicators" class="carousel slide bg-info rounded" data-ride="carousel" style="height:50%" *ngIf="location">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <h5 class="display-4 m-5" style="text-align:center">Click next to see flights heading towards {{location.city}}</h5>
          </div>
          <div class="carousel-item"  *ngFor="let flight of flights">
            <div class="card p-3 m-5">
                <div class="row p-3 ml-5">
                    <h3><span class="font-weight-bold mr-1">{{flight.depart_port}}</span><span class="mr-1">to</span>
                    <span class="font-weight-bold mr-3">{{flight.arrival_port}}</span>
                    <span>({{flight.airlines}})</span></h3> 
                </div>
                <div class="row p-3 ml-5">
                    <span class="font-weight-bold mr-1">Flight From: </span><span class="mr-3">{{flight.origin}}</span>
                    <span class="font-weight-bold mr-1"> Cost: </span><span class="mr-3">${{flight.cost}}</span>
                </div>
                <div class="row p-3 ml-5">
                    <span class="font-weight-bold mr-1">Departure Date: </span><span class="mr-3"> {{flight.depart_date}}</span>
                    <span class="font-weight-bold mr-1">Air Time: </span><span class="mr-3">{{flight.air_time}} </span>
                    <span class="font-weight-bold mr-1">Distance:</span><span class="mr-3">{{flight.distance}} miles</span>
                </div>
                <br>
                <div style="width:100%; justify-content: center; align-items: center; display: flex">
                    <a href="{{flight.link}}" class="btn btn-primary" style="width: 50%" role="button" aria-pressed="true">View Flight</a>
                </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>