<div id="SearchBar">
    <form class="form-inline">
        <div class="form-group">
            <input type="number" class="form-control" id="budget" placeholder="Budget" min="0" step="10" style="width: 100px;">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="origin" placeholder="Origin" style="width: 150px;">
        </div>
        <div class="form-group">
            <label for="start-date">Start Date: </label>
            <input type="date" class="form-control" id="start-date">
        </div>
        <div class="form-group">
            <label for="start-date">End Date: </label>
            <input type="date" class="form-control" id="end-date">
        </div>
        <button type="button" class="btn btn-success" id="SearchSubmit">Search</button>
    </form>
</div>