@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#hotelIcon{
    /*font-size: 10rem;
    color: white;*/
}

a, h4 {
    margin-right: 0;
    width: 185px;
}

a:hover {
    cursor: default;
    text-decoration: none;
}

span:hover {
    cursor: pointer;
}