@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background-image: url("/src/images/adonde-home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    font-size: 7em;
    font-family: 'Lobster', cursive;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}