@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');


#LocationName{
    padding: 5% 0 0 0%;
    font-size: 60px;
    color: #000;
    /* font-family: 'Merriweather', serif; */
}

