#appName {
    font-family: 'Lobster', cursive;
}

.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
}
  
.dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}