<navbar textcolor="text-dark"></navbar>
<div class="container">
  <div id="SavedName">
    <h1 class="display-4">
      Saved Locations
    </h1>
  </div>
  <hr>
  <div class="alert alert-warning w-25 mt-4" [hidden]="!noSaved" role="alert">
    You have no saved locations.
  </div>

  <div class="row" *ngIf="locations">
    <div class="card border-info m-4" *ngFor="let location of locations; let i = index" [hidden]="!hiddenArray[i]">


      <img class="card-img-top" src="{{location.imagePath}}" alt="Card image cap" style="height:40%; position:relative">
      <div class="card-body" style="height:50%; position:relative">
        <h4 class="card-title">{{location.city}}</h4>
        <p class="card-text" style="height:50%; overflow: hidden">{{location.description}}</p>
        <br>
        <div class="clearfix">
          <a tabindex="0" class="btn btn-danger cursor-pointer" role="button" data-toggle="popover" data-trigger="focus"
           (click)="unsave(location.location_id, i)">Unsave</a>
          <a tabindex="0" class="btn btn-info float-right cursor-pointer" role="button" data-toggle="popover" data-trigger="focus"
           [routerLink]="['/locations', location.location_id]">View Details</a>
        </div>
      </div>
      <div class="card-footer d-flex">
        <div class="ml-auto">
          {{location.country}}
        </div>
      </div>
    </div>
  </div>
</div>