<bg-animation style="z-index: 0;" class="w-100 h-100 fixed-top"></bg-animation>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-faded justify-content-between">
        <a class="text-white h4" id="AppName" routerLink="/">Ad‌&#243;nde</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="d-inline text-white" routerLink="/">Home
                        <span class="sr-only"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="d-flex container bg-light flex-column pb-4 pt-2 col-md-5 rounded mt-4">
        <h1 class="text-center display-4 mb-3">About Us</h1>
        <div class="d-flex flex-column mx-auto px-0">
            <div class="d-flex">
                <div class="person d-flex flex-column">
                    <img class="img-fluid rounded-circle" src="/src/images/natalie.jpg">
                    <blockquote class="blockquote mt-2">
                        <p class="mb-0">
                            "Frankly, my dear, I don't give a damn."
                        </p>
                        <footer class="blockquote-footer">
                            Natalie
                        </footer>
                    </blockquote>
                </div>
                <div class="person d-flex flex-column">
                    <img class="img-fluid rounded-circle" src="/src/images/victoria.jpg">
                    <blockquote class="blockquote mt-2">
                        <p class="mb-0">
                            "I'm gonna make him an offer he can't refuse."
                        </p>
                        <footer class="blockquote-footer">
                            Victoria
                        </footer>
                    </blockquote>
                </div>
                <div class="person d-flex flex-column">
                    <img class="img-fluid rounded-circle" src="/src/images/jacquie.jpg">
                    <blockquote class="blockquote mt-2">
                        <p class="mb-0">
                            "Toto, I've a feeling we're not in Kansas anymore."
                        </p>
                        <footer class="blockquote-footer">
                            Jacquie
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="d-flex">
                <div class="person d-flex flex-column">
                    <img class="img-fluid rounded-circle" src="/src/images/zach.png">
                    <blockquote class="blockquote mt-2">
                        <p class="mb-0">
                            "E.T. phone home"
                        </p>
                        <footer class="blockquote-footer">
                            Zach
                        </footer>
                    </blockquote>
                </div>
                <div class="person d-flex flex-column">
                    <img class="img-fluid rounded-circle" src="/src/images/will.jpeg">
                    <blockquote class="blockquote mt-2">
                        <p class="mb-0">
                            "Here's looking at you, kid."
                        </p>
                        <footer class="blockquote-footer">
                            Will
                        </footer>
                    </blockquote>
                </div>
                <div class="person d-flex flex-column">
                    <img class="img-fluid rounded-circle" src="/src/images/spencer.jpg">
                    <blockquote class="blockquote mt-2">
                        <p class="mb-0">
                            "May the Force be with you."
                        </p>
                        <footer class="blockquote-footer">
                            Spencer
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</body>