<div id="AppName" class="fixed-top">
    <h1>Ad‌&#243;nde</h1>
</div>
<br>
<div class="container">
  <div id="PassChangeName">

    <h1>
      Change Your Password
    </h1>

    <div class="form-group">
      <label id="label" class="col-form-label lead" for="currentPass">
        Old Password
      </label>
      <input type="password" class="form-control" id="currentPass">
    </div>

    <div class="form-group">
      <label id="label" class="col-form-label lead" for="newPass1">
        New Password
      </label>
      <input type="password" class="form-control" id="newPass1">
    </div>

    <div class="form-group">
      <label id="label" class="col-form-label lead" for="newPass2">
        Comfirm New Password
      </label>
      <input type="password" class="form-control" id="newPass2">
    </div>

    <button type="button" class="btn btn-primary" (click)="change()">
      Submit
    </button>

  </div>
</div>